* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.new-height{
  height: 280px!important;
}
.align-middle{text-align: center;}
/* Header */
.navtop {
	background-color: #2f3947;
	height: 100px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 96%;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}
.navigation{
  background-color: #253d92;
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 22px;
}
.navigation a{
  color: white;
  padding: 40px;
  text-align: center;
}
.navigation a:hover{
  color: red;
  transition: 1s ease-in;
  text-decoration: none;
}
a:hover{text-decoration: none;}
.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}
.big-wrapper{padding-left: 40px;padding-right: 40px;}
.thumbnail>img, .thumbnail a>img {height: 200px;width: 100%;}
.No-more{height: 56px;}
.align-middle{text-align: -webkit-center;}
.container {
    width: 100%;
    height: 100%;
  }
  .container .product {
    width: 100%;
    height: 250px;
    display: flex;
    margin: 1em 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.15);
    transition: all .1s ease-in-out;
  }

  .container .product .img-container {
    flex: 3;
  }
  .container .product .img-container img {
    width: 100%;
    height: 100%;
  }
  .container .product .product-info {
    background: #fff;
    flex: 3;
  }
  .container .product .product-info .product-content {
    padding: 1em 0 .4em 2em;
  }
  .container .product .product-info .product-content h1 {
    font-size: 1.5em;
  }
  .container .product .product-info .product-content p {
    color: #636363;
    font-size: .9em;
    font-weight: bold;
    width: 90%;
  }
  .container .product .product-info .product-content ul li {
    color: #636363;
    font-size: .9em;
    margin-left: 0;
  }
  .container .product .product-info .product-content .buttons {
    padding-top: .4em;
  }
  .container .product .product-info .product-content .buttons .button {
    text-decoration: none;
    color: #5e5e5e;
    font-weight: bold;
    padding: .3em .65em;
    border-radius: 2.3px;
    transition: all .1s ease-in-out;
  }
  .container .product .product-info .product-content .buttons .add {
    border: 1px #5e5e5e solid;
  }
  .container .product .product-info .product-content .buttons .add:hover {
    border-color: #6997b6;
    color: #6997b6;
  }
  .container .product .product-info .product-content .buttons .buy {
    border: 1px #5e5e5e solid;
  }
  .container .product .product-info .product-content .buttons .buy:hover {
    border-color: #6997b6;
    color: #6997b6;
  }
  .container .product .product-info .product-content .buttons #price {
    margin-left: 4em;
    color:#FA3A11;
    font-weight: bold;
    border: 1px solid rgba(137, 137, 137, 0.2);
    background: rgba(137, 137, 137, 0.04);
  }
  .new-color{color: #007bff;}
  .new-size{font-size: 40px;margin-top: 50px;color:red;opacity: 0.8;}


  /* Footer */
  .footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
  margin-top: 80px;
  bottom: 0;
}
#positioning{
position: fixed;
}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.new-width{width: 100%;display: -webkit-box;margin-left: 0px;}
.new-width2{width: 100%;display: -webkit-box;}
.new-position{float: left;color: white;list-style: none;}
.new-position li a{color: white;}
tr th{font-size: 20px;}
td{text-align: center;}
.media-body{text-align: left;}
table.table a{font-size: 12px;}

.login-reg-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color:#253d92;
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
    
}
.right-log{right:50px !important;}

.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"],input[type="email"] ,.login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="submit"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show input[type="submit"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
a{
  text-decoration:none;
  color:#2c7715;
}
    
.Big-Wrapper{
    font-family: 'Mukta', sans-serif;
      height:100vh;
      min-height:550px;
      background-image: url(../../assets/party.png);
      background-repeat: no-repeat;
      background-size:cover;
      background-position:center;
      position:relative;
      overflow-y: hidden;
  }
  a{
    text-decoration:none;
    color:#444444;
  }

  .glyphicon {font-size: 12px;}
@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
